<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Pest Detection</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/get-pesticide" class="nav-link">Get Pesticide</a>
          </li>
          <li class="nav-item">
            <a href="/detect-pest" class="nav-link">Detect Pest</a>
          </li>
        </ul>
    </nav>
    <h1>Detect Pest</h1>

    <div>
        <label for="fileInput">Input Image here</label>
        <input type="file" id="fileInput">
        <button onclick="uploadFile()">Upload File</button>
    </div>

    <div id="predictions"></div>

    <button onclick="requestRecommendation()">Need Pesticide Recommendation?</button>
    <script>
        function uploadFile() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('file', file);

            fetch('/detect-pest', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('predictions').innerText = data.predictions;
            })
            .catch(error => console.error('Error:', error));
        }

        function requestRecommendation() {
            // Add logic to request pesticide recommendation from Flask backend
        }
    </script>
</body>
</html>