<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
    </style>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/get-pesticide" class="nav-link">Get Pesticide</a>
          </li>
          <li class="nav-item">
            <a href="/detect-pest" class="nav-link">Detect Pest</a>
          </li>
        </ul>
      </nav>
      <div class="home-content-container">
        <div class="menu-buttons-container">
            <ul class="menu-buttons-list">
                <li class="menu-buttons">
                    <a href="/detect-pest" class="menu-link">Detect Pest</a>
                </li>
                <li class="menu-buttons">
                    <a href="get-pesticide" class="menu-link">Get Pesticide</a>
                </li>
            </ul>
        </div>
      </div>
      
</body>
</html>